#home-logo {
  color: black;
  text-decoration: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#test1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#test2 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.nontextlink {
  text-decoration: none;
  color: black;
}

.email-preview:hover {
  background-color: #F8F8F8;
}